
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Lecturers/Views/Shared/_LayoutLecturers.cshtml";
}

<div ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>

</div>

<script src="~/views/lecturers/Attendance/Controller.js"> </script>
