# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
coverage
.vs
# Benchmarking
benchmarks/graphs
CenterManagement/
# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore