

<div class="card" style="-webkit-box-shadow: 0 2px 5px 0 rgb(0 3 6 / 54%);position:relative">
    <div class="card-body">
        <button class="close-button" aria-label="Close" ng-click="cancel()">
            <span class="close-icon">&times;</span>
        </button>
        <form class="forms-sample">
            <div style="display:flex">
                <div class="form-group" style="margin-right:17px">
                    <label for="exampleInputUsername1">Tên Lớp:</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Nhập tên lớp...">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Số buổi:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="nhập số buổi...">
                </div>
            </div>
             <div class="form-group">
                    <label for="exampleInputPassword1">Thời gian:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Năm học...">
             </div>
            
        </form>
        <button type="button" class="btn btn-gradient-danger btn-icon-text click-button" style="height: 41px; padding-left: 17px; padding-right: 17px">
            Thêm mới
        </button>
        <button class="btn btn-light click-button" ng-click="cancel()">Cancel</button>
    </div>
</div>