

<div class="row">
    <div class="col-12">
        <div class="card">
            <div>
                <div class="modal-body" style="background: #e9e4de; -webkit-box-shadow: 0 2px 5px 0 rgb(0 3 6 / 54%); padding: 40px 30px 17px 30px; ">
                    <button class="close-button" aria-label="Close" ng-click="cancel()">
                        <span class="close-icon">&times;</span>
                    </button>

                    <div class="table-responsive">
                        <table datatable=""
                               dt-options="dtOptions"
                               dt-columns="dtColumns"
                               dt-instance="dtInstance"
                               class="table dataTable table-bordered table-hover table-striped "
                               style="border-bottom: 0px solid #111;">
                        </table>

                        <button type="button" class="btn btn-gradient-danger btn-icon-text" ng-click="addGrades()" style="height: 41px; padding-left: 17px; padding-right: 17px">
                            Thêm buổi học
                        </button>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>