<button ng-click="showMessage()">Click me</button>

<div class="modal-header">
    <h3 class="modal-title">Chi tiết học sinh</h3>
</div>
<div class="modal-body">
    <form name="form">

        <div class="form-group">
            <label>ID:</label>
            <input type="text" class="form-control" ng-model="studentDetail.id" disabled />
        </div>
        <div class="form-group">
            <label>Tên:</label>
            <input type="text" class="form-control" ng-model="studentDetail.Name" />
        </div>
        <div class="form-group">
            <label>Lớp:</label>
            <input type="text" class="form-control" ng-model="studentDetail.Class" />
        </div>
        <div class="form-group">
            <label>Ngày sinh:</label>
            <input type="text" class="form-control" ng-model="studentDetail.DateBirth" />
        </div>
        <div class="form-group">
            <label>Số buổi đã nghỉ:</label>
            <input type="number" class="form-control" ng-model="studentDetail.Absent" />
        </div>
        <div class="form-group">
            <label>Địa chỉ:</label>
            <input type="text" class="form-control" ng-model="studentDetail.Address" />
        </div>
        <div class="form-group">
            <label>Số tiền còn nợ:</label>
            <input type="number" class="form-control" ng-model="studentDetail.OwedAmount" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Hủy</button>
</div>
