<div class="page-header-inner ">
    <div class="page-actions">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <!--<li>
                    <span style="display:none">Apps</span>
                </li>-->
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit  calendar">
                    <div class="portlet-body">
                        <div class="row">
                            <div>
                                <div id="calendar" class="has-toolbar"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>