
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>

</div>

<script src="~/views/admin/CenterTeacher/Controller.js"> </script>

