
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Parents/Views/Shared/_LayoutParents.cshtml";
}

<div ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>

</div>

<script src="~/views/parents/ParentsSonClasses/Controller.js"> </script>


